<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>Home</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="nav" id="nav">
      <!--nav-links-->
      <ul class="nav-links nav-center">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">about</a>
        </li>
        <li>
          <a href="/contact">contact</a>
        </li>
        <li>
          <a href="/project">Project</a>
        </li>
      </ul>
    </nav>

    <!-- end of navbar -->

    <!-- header -->
    <header class="hero">
      <div class="section-center hero-center">
        <article class="hero-title">
          <div class="underline hero-underline"></div>
          <h1 class="hero-title">I'm Olayinka</h1>
          <h4>Freelance web & Mobile frontend developer</h4>
          <a href="#" class="btn hero-btn">Hire me</a>
        </article>
        <article class="hero-img">
          <img
            src="/images/20191021_095058.jpg"
            class="hero-photo"
            alt="profile-image"
          />
        </article>
      </div>
    </header>

    <!-- end of header -->
  </body>
</html>
